html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

*,
::after,
::before {
  box-sizing: inherit;
}
